body {
    background-color: black;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 20px;
}

#savegame {
    font-weight: bold;
    font-size: 17px;
    height: 300px;
    width: 200px;
    height: 30px;
    position: absolute;
    top: 95%;
    left: 5%;
    font-size: 17px;
    margin-left: -65px;
    margin-top: -25px;
}

#inputbar {
    position: absolute;
    top: 95%;
    left: 17%;
    margin-left: -65px;
    margin-top: -25px;
    white-space: nowrap;
}

.userAction {
    color: white;
    background-color: inherit;
    text-align: left;
    font-weight: bold;
    height: 27px;
    width: 323%;
    font-size: 17px;
}

.submitAction {
    font-weight: bold;
    font-size: 17px;
    margin-left: 10px;
    height: 300px;
    width: 200px;
    height: 30px;
}

#gameText{
  position: absolute;
  margin-left: 30px;
  width: 95%;
  bottom: 10%;
}
