body {
    background-color: black;
    color: white;
    font-family: 'Roboto Slab', serif;
}

#savegame {
    font-weight: bold;
    font-size: 17px;
    height: 300px;
    width: 200px;
    height: 30px;
    position: absolute;
    top: 95%;
    left: 5%;
    font-size: 17px;
    margin-left: -65px;
    margin-top: -25px;
}

#inputbar {
    position: absolute;
    top: 95%;
    left: 17%;
    margin-left: -65px;
    margin-top: -25px;
    white-space: nowrap;
}

.userAction {
    color: white;
    background-color: inherit;
    text-align: left;
    font-weight: bold;
    height: 27px;
    width: 323%;
    font-size: 17px;
}

.submitAction {
    font-weight: bold;
    font-size: 17px;
    margin-left: 10px;
    height: 300px;
    width: 200px;
    height: 30px;
}
#chatbox {
    position: absolute;
    top: 5%;
    left: 1.5%;
    text-align:center;
    background-color: inherit;
    height:80%;
    width:96%;
    border:1px solid white;
    overflow:auto;
}
