body {
    font-weight: normal;
    white-space: nowrap;
    font-size: 18px;
    color: white;
    text-align: center;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: 'Roboto Slab', serif;
}

input {
    color: white;
    background-color: inherit;
    outline: none;
    font-weight: bold;
    text-align: center;
    height: 27px;
    width: 130;
    font-size: 18px;
}

button {
    background-color: inherit;
    font-weight: bold;
    font-size: 18px;
    width: 200px;
    height: 30px;
    cursor: pointer;
    color: white;
}

#center {
    position: absolute;
    width: 700px;
    height: 380px;
    background-color: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 70px;
    margin: auto;
}

h1 {
    font-size: 45px;
    padding-bottom: 15px;
    font-weight: normal;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

#h3{
  font-size: 20px;
  padding-top: 10px;
  font-weight: normal;
  font-family: 'Roboto Slab', serif;
}
